

/* ---------------------------------------------------------------- */
/* MAIN 
/* ---------------------------------------------------------------- */

.front #page-wrap{ background:url(../images/tile_home.jpg) 0 bottom repeat-x}
.not-front #page{ padding-bottom:30px}
#main{ padding-top:15px}
#content{ position:relative;}

.sidebar{
	h2{ color:$green}
}


/* ---------------------------------------------------------------- */
/* HEADER 
/* ---------------------------------------------------------------- */

#header{ position:relative;
	#header-blocks{ position:absolute; left:60%; top:45px; line-height:1.1; color:$lightbrown;
		.info-block{ float:left}
		.get-a-quote{ margin-right:30px}
		h5{ font-size:$s14; color:$lightbrown}
		h5 span{ display:none}
		p{ margin-bottom:5px; font-size:$s11}
	}
	#header-nav{ position:absolute; left:60%; top:20px}
}
.info-block strong{ font-family:$droidbold;}


/* ---------------------------------------------------------------- */
/* FOOTER 
/* ---------------------------------------------------------------- */

#buckets{ background:$light; border-bottom:2px solid #e6e6e6; padding:50px;
	.grid{ text-align:center;  line-height:1.5; padding-bottom:40px; border-right:1px solid #bbb7b5;
		&:last-of-type{ border-right:none}
		p{ padding:0 50px; @include font($crete, $s13, $grey, 1.2)}
	}
	h3{ margin-bottom:10px; font-size:$s18}
	[class*="icon-"]{ font-size:5em; @include text-shadow()}
}	

#footer{ background:$cream; padding:20px 0 30px; color:$lightbrown; line-height:1.1; font-family:$droid; 
	a{ color:$lightbrown; text-decoration:none}
	a:hover{ text-decoration:underline}
	a.green{ color:$green}
	h5{ color:$lightbrown;}
	#footer-right{ float:left; width:30%; padding:0;
		p{ margin-bottom:5px; font-size:$s11}
		.visit-showroom{ margin-top:20px}
		.images{ position:absolute; right:10px; top:0}
	}
	.nav{ float:left; width:70%; padding-right:20px;
		ul{ @include reset;
			li{ @include reset; border-right:1px solid #c69c6d; display:inline;
				a{ @include font($crete,$s13, $lightbrown, 1); padding:0 5px}
				&:last-of-type{ border:none}
			}
		}
	}
	#copyright{ position:absolute; left:10px; bottom:-10px; font-size:$s11}
}


/* ---------------------------------------------------------------- */
/* NAV
/* ---------------------------------------------------------------- */

#nav{ background:$grey;
	ul{ @include reset; text-align:center;
		li{ @include reset; display:inline-block; padding:8px 0;
			&:last-child a{ border-right:none;}
			a{ display:block; @include font($crete, $s14, $cream, 1); text-decoration:none; padding:0 10px; border-right:1px solid #35302a; }
			a:hover{ color:#fff}
		}
	}
	#header-nav ul { line-height:1;
		li{ border-right: 1px solid #e4d1bb; padding:0;
			&:last-child{ border:none}
			&:first-child a{ padding-left:0}
			a{ color:$lightbrown; font-size:12px; padding:0 5px; border:none;}
			a:hover{ text-decoration:underline}
		}
	}
}


/* ---------------------------------------------------------------- */
/* HTML ELEMENTS
/* ---------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6{ @include font($crete, 100%, $grey, 1.2)}
h1{ font-size:$s26; margin:15px 0 20px}
h2{ font-size:$s18; margin-bottom:15px}
h3{ font-size:$s16; margin:20px 0 10px}
h4{ font-size:$s15; font-family:$openbold; margin-bottom:15px}
h5{ font-size:$s13; margin-bottom:5px}
h6{ @include font($openbold, $s11, $grey, 100%); margin:20px 0 15px; text-transform:uppercase }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{ text-decoration:none; }

p, ul, ol{ margin:0 0 20px 0}
p:last-child, ul:last-child, ol:last-child{ margin-bottom:0}
ul,
ol{ margin-left:40px}
ul li,
ol li{ padding-left:10px}
ul li{ list-style:disc; }
ol li{ list-style:decimal;}
strong{ font-family:$openbold; font-weight:normal}

a{ color:$grey; outline:none; @include transition}
a:active{ outline:none}
a:link{ outline:none}
a:hover{ text-decoration:none; color:#000}

a.btn{ @include font($crete, $s13, $green, 100%); border:1px solid #989898; @include cornerborder(4px); text-decoration:none; @include gradient(#fff, #e6e7e8); padding:2px 10px 2px 20px; position:relative; @include shadow(0,-1px,0,0,#fefefe, inset);
	&:before{ @include arrow($green, 10px); top:3px}
	&:hover{ @include gradient(#fdfdfd,#d3d3d3)}
}

a.btn_flat{ @include font($crete, $s18, $green, 100%); display:block; position:relative; background:$grey; padding:15px 20px 15px 30px; text-decoration:none}
a.btn_flat:hover{ background:$darkgrey}
a.btn_flat:before{ @include arrow(#fff, 20px)}

.green, a.green{color:$green}

img{ vertical-align:middle; max-width:100%; height:auto !important}

.element-invisible{ display:none}

.form-item input,
.form-item textarea,
.form-submit{ width:100%; border:1px solid #614b4c; border-radius:2px; color:#343434; font-size:$s14; padding:15px; line-height:1; @include gradient(#fdfdfd,#ebecec)}
.form-submit{ width:100px; color:#010101; font-size:$s15; font-family:$openbold; padding:10px 15px;}
#edit-actions{ clear:both}


/* ---------------------------------------------------------------- */
/* CONTENT TYPES
/* ---------------------------------------------------------------- */

.node{ position:relative}

.inline-list{
	ul{ @include reset}
	li{ display:inline; margin:0 5px 0 0; padding:0}
	li:before{ content:'\2022'; margin:0 5px 0 0}
} 

/* PRICE LABEL */
.price-label{ background:#63aa52; color:$light; font-size:.75em; line-height:1; padding:3px 12px 3px 3px;text-transform:uppercase; position:absolute; right:-5px; top:0; z-index:9;
	span{ font-size:1.4em; font-weight:bold; display:block; padding-top:2px}
	&:after{ position:absolute; content:''; font-size: 0px; line-height: 0%; width: 0px; border-top: 5px solid #b1d4a8; border-right: 5px solid transparent; bottom:-5px; right:0}
	sup{ font-size:.6em;}
}
.front{
	.price-label{ padding:8px 25px 8px 8px; top:50%; margin-top:-30px; right:-9px;
		span{ font-size:26px; padding:0}
		&:after{ border-top-color:#32662d; border-width:9px; bottom:-9px}
		sup{ position:relative; top:5px}
	}
}
.price-footnote{ font-size:9px; line-height:1}

#map-canvas{ height:260px; margin:20px 0}


/* PAGE
----------------------------------*/
#page-image{ margin-bottom:20px}
#intro,
.node-page .field-name-body,
.node-webform .field-name-body{ font-family:$openbold; font-size:$s15; line-height:1.5}


/* TESTIMONIAL
----------------------------------*/
#testimonial{ background:$light; padding:15px;
	p{ font-family:$opensemibolditalic; line-height:1.3; margin-bottom:0}
	footer{ font-family:$droidbold}
	.quote{ @include font($crete, 2em, $green, 0.6); position:relative; top:.2.4em}
}


/* DOORS
----------------------------------*/
.node-door{ line-height:1.5;
	.details{ font-size:$s11; margin:0}
	.price{ font-size:$s14}
	h6{ text-transform:inherit; margin-bottom:0}
}


/* HARDWARE
----------------------------------*/
.node-door-hardware{ line-height:1.5;
	h6{ text-transform:inherit; margin-bottom:0}
	.details{ font-size:$s11; margin:0; max-width:330px}
}


/* HOMEPAGE BANNER
----------------------------------*/
.node-homepage-banner{ height:380px; background-size:cover; background-position:right 0; padding:45px;
	.text{ height:100%; background:#fff; background:rgba(255,255,255,.7); max-width:350px; padding:15px 20px; position:relative}
	h2{ font-size:$s26}
	.inner{ max-width:240px}
	h3{ @include font($openbold, $s14, $grey, 1.3); margin:0}
	.field-name-field-link{ @include font($opensemibold, $s12, $grey, 1.3); position:absolute; bottom:20px;
		a{ text-decoration:none; max-width:240px; display:block}
		a:after{ content:'\003e'; padding-left:5px}
	}
}


/* HOMEPAGE PROMO
----------------------------------*/
.node-homepage-promo{ background:#fff;
	.text{ float:left; width:60%; padding:15px}
	.field-name-field-image{ float:right; width:40%}
	h6{ margin:0}
	.field-name-body ul,
	.field-name-body p{ @include smalltext}
	.field-name-field-link a{ text-decoration:none; font-family:$openbold; font-size:$s11;
		&:after{ content:'\00a0\003e'}
	}
	ul{ margin-left:15px}
	ul li{ padding-left:0}
	.price-label{ top:auto; bottom:30px}
	.price-footnote{ position:absolute; bottom:10px; left:15px; max-width:60%; }
}


/* WEBFORM
----------------------------------*/
.node-webform form{ margin-top:40px;
	#webform-component-header{ float:right; width:40%; padding-left:30px;
		h3{font-size:$s14; margin:0 0 10px 0}
		p{ margin-bottom:10px; @include smalltext}
		strong{ font-family:$droidbold}
	}
	.form-item{ margin-bottom:15px}
	.form-item.webform-component-textfield,
	.form-item.webform-component-textarea,
	.form-item.webform-component-email{ float:left; width:60%}
}



/* ---------------------------------------------------------------- */
/* VIEWS
/* ---------------------------------------------------------------- */

/* GLOBAL VIEW STYLES
----------------------------------*/
.views-row{ position:relative; }
.views-field-edit-node a{ position:absolute; right:1px; top:1px; font-size:$s11; text-transform:uppercase; display:inline-block; padding:2px 5px; text-decoration:none; z-index:2; line-height:1; color:#fff; background:rgba(0,0,0,.7); display:inline; height:auto }
.views-field-edit-node a:hover{ opacity:0.6}
.views-table.draggable{ width:100%}
div[id*="-order"]{ margin-top:40px; border-top:1px solid $grey;
	h2{ margin:20px 0 0; }
	#edit-actions{ margin-top:20px}
}


/* HOMEPAGE PROMOS
----------------------------------*/
.view-homepage-promos{ margin:20px 0;
	.views-row{ float:left; width:33.333%;}
	.views-row-1{ padding-right:18px}
	.views-row-2{ padding:0 9px}
	.views-row-3{ padding-left:18px}
	h2, h2 a{ color:$green}
}


/* TAXONOMY EXTERIOR DOORS
----------------------------------*/
.view-taxonomy-exterior-doors{
	.views-row{ margin-top:40px}
	.text{ float:right; width:70%; padding-left:20px;}
	.image{ float:left; width:30%; }
	h2{ font-size:$s20; position:relative; padding-left:12px}
	h2 a:before{ @include arrow($green,0)}
	.description{ @include smalltext; margin:15px 0}
}


/* DOORS
----------------------------------*/
.view-doors{
	.views-row{ float:left; margin:0 25px 25px 0}
}


/* INTERIOR DOORS
----------------------------------*/
.view-interior-doors { padding-top:30px;
	.views-row:not(.views-row-1) .price-label{ display:none}
	.price-label{ top:37%}
	h2{ margin:0 0 20px}
	h3{ margin:0 0 30px; font-size:$s14; border-bottom:1px solid $grey; padding:0 0 8px 25px; position:relative; cursor:pointer;
		@include fonticon('\e600', 13px);
		&:before{ background:$grey; width:11px; height:11px; line-height:11px; padding:2px;}
		&.plus:before{ content:"\e601";}
		&:hover:before{ background:$darkgrey}
	}
}


/* DOOR HARDWARE
----------------------------------*/
.views-door-hardware{ padding-top:40px;
	h2{ border-bottom:1px solid $grey; margin:0 0 30px; padding-bottom:10px}
	.description{ font-size:$s11; margin:0 120px 25px 0; line-height:1.5;
		h6{ margin:0}
	}
	.price-label{ right:30px}
	.views-row{ float:left; margin-bottom:50px; width:100% }
	> .views-row{ margin:0; float:none}
}
#handle-sets .views-row{ width:33.333%}
#level-handles .views-row{ width:50%;
	&.views-row-odd .node{ padding-right:20px}
	&.views-row-even .node{ padding-left:20px}
}

#level-handles .price-label{ top:60px}
#ball-knobs .price-label{ top:110px}
#deadbolts .price-label{ top:135px}


/* ---------------------------------------------------------------- */
/* BLOCKS
/* ---------------------------------------------------------------- */

/* HOME PAGE
----------------------------------*/
#block-views-homepage-banner-block{ float:left; width:77%}
#homepage-right{ float:right; width:21%; min-height:380px; background:$darkgrey;
	.block{ padding:15px 20px;}
	h2{ margin-bottom:10px; color:$green}
}

#block-block-11,
.front #testimonial{ float:left; width:50%;
	> .inner{ background:#fff; padding:15px}
	h2.block-title{ margin-bottom:10px}
}

#block-block-11{ padding-right:10px;
	.block-content{ @include smalltext;
		p:not(:last-of-type){ margin-bottom:5px}
		a{ text-decoration:none; font-family:$openbold}
	}
}

.front #testimonial{ padding:0 0 0 10px;
	#reviews{ border-top:none; border-bottom:1px solid #e6e6e6; padding:0 0 3px; margin:-15px 0 0; float:right }
}


/* SERVICE AREAS
----------------------------------*/
#block-block-13{
	.block-content{ @include smalltext;
		ul{ @include reset; float:left;
			li{ @include reset}
			&:first-of-type{ margin-right:55px}
		}
	}
}


/* SIDEBAR LEFT
----------------------------------*/
#sidebar-left{
	.block:not(#block-views-testimonials-block){ padding:15px 20px;}
	h2{ margin-bottom:10px}
}

#find-a-door{ background:$grey;
	p{ @include font($droidbold, $s12, $cream, 100%); margin:15px 0 3px;
		a{ color:$cream; text-decoration:none}
		a:hover{ color:#fff}
	}
	ul{ @include reset; line-height:1.2;
		li{ @include reset;
			a{ @include font($droid, $s12, $cream, 100%); text-decoration:none}
			a:hover{ color:#fff}
			a:before{ content:'\2013\00a0'}
		}
	}
}

#need-help{ background:#3d332b; color:#f2f2f2;
	.phone{ @include font($crete, $s18, $green, 1.2); display:block}
	a{ color:$light; text-decoration:none}
	a:hover{ color:#fff}
}

#view-gallery{ margin:20px 0; background:$grey}


/* SIDEBAR RIGHT
----------------------------------*/
#reviews{ border-top:1px solid #e6e6e6; text-align:right; margin:30px -5px 0 -5px; padding-top:5px;
	span{ font-size:10px; display:inline-block; line-height:1}
	span:first-of-type{ padding:0 5px 0 0; border-right:1px solid #e6e6e6; margin-right:5px;position:relative; top:5px}
	a{ text-decoration:none}
	a:hover{ text-decoration:underline}
}

// Service Areas Map
#block-block-12{ margin-top:65px;
	h2{ color:$grey}
	.block-content{ @include smalltext}
	p{ margin-bottom:10px}
	strong{}
}


/* DOOR SPECS
----------------------------------*/
.door-specs{ margin-top:40px;
	h2{ font-size:$s14; border-bottom:1px solid $grey; padding:0 0 8px 25px; margin:0; position:relative; cursor:pointer;
		@include fonticon('\e600', 13px);
		&:before{ background:$grey; width:11px; height:11px; line-height:11px; padding:2px;}
		&.plus:before{ content:"\e601";}
		&:hover:before{ background:$darkgrey}
	}
	p{ @include smalltext}
}

// Door Configurations
#block-block-3{
	.grid{ width:25%; text-align:center; margin-top:20px}
	.grid p{ max-width:85%; margin:10px auto 0}
}

// Door Styles
#block-block-4 img:not(:last-of-type){ margin-right:8px}

// Door Colours
#block-block-5{ 
	.grid{ margin:0 8px 5px 0}
	h5{ display:block; font-family:$opensemibold; font-size:$s11; color:#000; margin:20px 0 10px}
	strong{ display:block; font-family:$opensemibold; font-size:$s11; color:#000}
	.colour{ width:85px; height:55px; }
	.white{ background:#f5f4f2}
	.bone{ background:#f7ebd3}
	.red{ background:#88292d}
	.black{ background:#231f20}
	.terracotta{ background:#948675}
	.cherry{ background:#472f2d}
	.green{ background:#003f2e}
	.sandstone{ background:#958671}
	.grey{ background:#736f6e}
	.musket{ background:#736f6e}
}

// Door Materials
#block-block-6{
	.grid:not(:last-of-type){ margin-right:40px}
	.grid p{ margin:10px 0 0}
}

// Door harddware
#block-block-7{ 
	img:not(:last-of-type){ margin-right:30px}
	p{ margin:15px 0 20px}
}

















/* ---------------------------------------------------------------- */
/* DRUPAL OVERRIDES
/* ---------------------------------------------------------------- */
div.messages{ font-size:1em}
div.messages p,
div.messages ul{ font-size:1em}

ul.tabs-primary{ position:absolute; top:0; right:0; margin:0; padding:0; font-size:$s11; background:none;}
ul.tabs-primary li{ margin:0; padding:0 1px 0 0; border:none; background:none; text-shadow:none; border-radius:0; list-style:none; float:left}
ul.tabs-primary li a{ border:none; background:rgba(0,0,0,.7); color:#fff; text-transform:uppercase; letter-spacing:0; border-radius:0; padding:2px 5px; text-decoration:none }
ul.tabs-primary li a:hover{ opacity:0.6}

.messages { margin: 20px 0; padding: 10px 10px 10px 50px; background-image: inline-image("message-24-ok.png"); @if $legacy-support-for-ie6 or $legacy-support-for-ie7 { *background-image: image-url("message-24-ok.png"); } background-position: 8px 8px;  background-repeat: no-repeat; border: 1px solid #be7; }
.messages--status { @extend .messages; @extend %ok; }
.messages--warning { @extend .messages; @extend %warning; background-image: inline-image("message-24-warning.png"); @if $legacy-support-for-ie6 or $legacy-support-for-ie7 { *background-image: image-url("message-24-warning.png"); }border-color: #ed5; }
.messages--error { @extend .messages; @extend %error; background-image: inline-image("message-24-error.png"); @if $legacy-support-for-ie6 or $legacy-support-for-ie7 { *background-image: image-url("message-24-error.png"); } border-color: #ed541d; }
.messages__list { margin: 0; }
.messages__item { list-style-image: none; }
/* Core/module installation error messages. */
.messages--error  p.error { color: #333; }
/* System status report. */
.ok, %ok { background-color: #f8fff0; color: #234600; }
.warning, %warning { background-color: #fffce5; color: #840; }
.error, %error { background-color: #fef5f1; color: #8c2e0b; }


form th {  text-align: left; /* LTR */  padding-right: 1em; /* LTR */  border-bottom: 3px solid #ccc;}
form tbody {  border-top: 1px solid #ccc;}
form table ul {  margin: 0;}
tr.even,
tr.odd {  background-color: #eee;  border-bottom: 1px solid #ccc;  padding: 0.1em 0.6em;}
tr.even {  background-color: #fff;}
td.active {  background-color: #ddd;}
td.checkbox,
th.checkbox {  text-align: center;}
td.menu-disabled {background: #ccc;}
tr.drag {background-color: #fffff0;}
tr.drag-previous {background-color: #ffd;}
.tabledrag-toggle-weight {font-size: 0.9em;}
tr.selected td {background: #ffc;}
a.tabledrag-handle .handle{ width:20px; height:25px}