

/* ------------------------------ */
/* TABLET
/* ------------------------------ */

@media (max-width: 800px) {


	/* MAIN LAYOUT 
	/* ------------------------------ */
	.width{ padding:0 20px}
	.not-front #page{ padding-bottom:0}
	.not-front #main{ border-top:2px solid $grey}
	.not-front #content{ width:75%; margin-left:25%; margin-right:-100%; margin-bottom:30px}
	.not-front #sidebar-left{ width:25%; margin-right:-25%}
	.not-front #sidebar-right{ float:none; width:auto; margin:0 -20px; clear:both}
	#header-blocks{ display:none}
	
	#mobile-nav-btn{ display:block;
		a{ display:block; text-decoration:none; position:absolute; right:0; top:63px; @include fonticon('\f0c9', 40px, $grey); margin-right:-5px}
		a:before{ position:static}
		a.close_nav:before{ content:'\f00d'; padding-right:3px}
		a:hover:before{ color:$darkgrey}
	}
	#nav{ display:none; border-top:1px solid $cream;
		#header-nav{ position:static; width:auto; background:$darkgrey }
		ul,
		#header-nav ul{
			li{ display:block; padding:0; border:none; border-bottom:1px solid $cream;
				a{ border:none; @include font($crete, $s16, $cream, 45px); padding:0}
				a:hover{ color:#fff; text-decoration:none; background:$darkgrey}
			}
		}
		#header-nav ul li{
			&:first-child{ display:none;}
			a:hover{ background:#282019}
		}
	}
	
	
	#page-image{ display:none}
	#testimonial .inner{ margin:0 auto; max-width:500px}
	#reviews { border-top:none;  margin-top:0; }
	
	#buckets{  padding:20px 0;
		.grid p{ padding:0 20px}
	}
	.not-front #buckets{ border-top: 1px solid #bbb7b5;}
	
	#footer{
		.nav,
		#footer-right{ float:none; width:auto}
		#footer-right{ margin-top:20px; position:relative}
		#copyright{ position:static; margin-top:20px}
	}
	
	
	/* FRONT */
	.front{
		#block-views-homepage-banner-block{ float:none; width:auto}
		#homepage-right{ float:none; width:auto; margin-top:20px; min-height:inherit}
		#homepage-right .block{ float:left; width:50%}
		#homepage-right .block .cell{ float:left; width:50%}
		#find-a-door p{ margin-top:0}
		#testimonial #reviews{ margin:0}
		.view-homepage-promos{
			.views-row{ float:none; width:auto; border:1px solid #f2f2f2;}
			.views-row:not(.views-row-first){ margin-top:20px}
			.views-row-1, .views-row-2, .views-row-3{ padding:0}
			.field-name-field-image{ width:auto}
		}
	}
	
	/* CONTACT */
	#sidebar-left #testimonial{ display:none}
	#block-block-12{ padding:0 20px 40px}
	.node-webform form{
		#webform-component-header{ float:none; width:auto; padding:0;
			p{ float:left; margin-right:40px}
		}
		.form-item.webform-component-textfield,
		.form-item.webform-component-textarea,
		.form-item.webform-component-email{ float:none; width:auto}
	}


}


/* ------------------------------ */
/* MOBILE
/* ------------------------------ */

@media (max-width: 600px) {


	.width{ padding:0}
	#sidebar-left{ display:none}
	.not-front #sidebar-right{ margin:0}
	.not-front #content{ float:none; margin-left:0; margin-right:0; padding:0; width:auto}
	
	.not-front #content,
	#testimonial,
	#footer{ padding-left:20px; padding-right:20px}
	#logo{ padding-left:14px}
	#mobile-nav-btn a{ right:14px; margin-right:0}
	
	#buckets{ display:none}
	#footer{
		.nav{ display:none}
		#footer-right{ margin-top:0}
		#footer-right .images{ right:0;
			img:last-of-type{ display:none}
		}
	}
	
	#testimonial .inner{ max-width:none}
	#reviews{ margin:0}
	
	
	/* FRONT */
	.front{
		#main{ padding-bottom:20px}
		.node-homepage-banner{ padding:20px}
		#homepage-right .block{ float:none; width:100%}
		#need-help{ display:none}
		.price-label:after{ display:none}
		.price-label{ right:0}
	}


}


@media (max-width: 480px) {
	
	.tpl_left, 
	.tpl_right{ float:none; width:auto}
	.tpl_left > .wrapper,
	.tpl_right > .wrapper{ padding:0}

	#block-block-3 .grid{ width:50%; padding:0 5px}
	#block-block-4 img{ margin-bottom:8px}
	#block-block-7 img{ margin-bottom:30px}
	
	.views-door-hardware .description{ margin-right:0; padding-top:20px}
	#deadbolts .price-label,
	#ball-knobs .price-label,
	#level-handles .price-label,
	.views-door-hardware .price-label{ top:-20px; right:0}
	
	/* FRONT */
	.front{
		.price-label{ margin:0; top:auto; bottom:20px}
		.node-homepage-banner{
			.field-name-field-link{ position:static; margin-top:20px}
		}
		.view-homepage-promos{
			.field-name-field-image{ width:40%}
		}
		#block-block-11, 
		#testimonial{ float:none; width:auto; padding:0}
	}
	
	/* CONTACT */
	.node-webform form{
		#webform-component-header{ float:none; width:auto; padding:0;
			p:first-of-type{ float:none;}
			p{ margin-right:20px}
		}
	}

}


@media (max-width: 320px) {

	.grid-half,
	.grid-third,
	.grid-quarter{ width:50%; }
	
	.layout{
		.grid{ margin-bottom:20px}
		.grid-third:nth-child(odd){ padding:0 10px 0 0}
		.grid-third:nth-child(even){ padding:0 0 0 10px}
	}
	
	.gallery-images .grid{ display:block; text-align:center}
	
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  


}