

/* ------------------------------ */
/* MAIN LAYOUT 
/* ------------------------------ */

.width{ @include container; }

.not-front{
	#content { float: left; width: 58%; margin-left: 21%; margin-right: -79%; padding:0 20px}
	#sidebar-left { float: left; width: 21%; margin-left: 0%; margin-right: -21%;
		.inner{}
	}
	#sidebar-right { float: left; width: 21%; margin-left: 79%; margin-right: -100%;
		.inner{}
	}
}

.width{ @include container; position:relative; }

.grid{ float:left}
.grid-half{ width:50%}
.grid-third{ width:33.333%}
.grid-quarter{ width:25%}

.layout{
	.grid{ margin-bottom:21px}
	.grid-third:nth-child(3n-2){ padding-right:14px}
	.grid-third:nth-child(3n-1){ padding:0 7px}
	.grid-third:nth-child(3n){ padding-left:14px}
}